---
import Layout from "@/layouts/Layout.astro";

import LinkedIn from "@/components/icons/LinkedIn.astro";
import GitHub from "@/components/icons/GitHub.astro";
import Mail from "@/components/icons/Mail.astro";
import CVIcon from "@/components/icons/CVIcon.astro";
import Code from "@/components/icons/Code.astro";
import UserIcon from "@/components/icons/UserIcon.astro";

import Badge from "@/components/Badge.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import SocialIcons from "@/components/SocialIcons.astro";
import Projects from "@/components/Projects.astro";
import AboutMe from "@/components/AboutMe.astro";
import Experiencia from "@/components/Experiencia.astro";
---

<Layout
	title="Franco Joel Quijada Portfolio"
	description="Portofolio para contratar a Franco Joel Quijada."
>
	<main class="px-4">
		<SectionContainer class="pb-24" id="inicio">
			<img
				id=""
				class="img-container rounded-[200px] mb-[2rem] px-[-4] mx-auto md:mx-0"
				width="300"
				height="300"
				src="https://firebasestorage.googleapis.com/v0/b/fjqfrontend.appspot.com/o/imagen%2FAvatarProfile.png?alt=media&token=51aba910-8d27-46b2-b80e-063d018a42e4"
				alt="Profile Picture"
			/>
			<Badge>#OpenToWork</Badge>
			<h1
				class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
			>
				Hey! Soy Franco Joel Quijada. <a
					href="https://www.linkedin.com/in/francojquijada/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px] text-pretty">
				<span style="color:#a8f755">Estudiante de Ingenieria en Sistemas</span> y
				<span style="color:#a8f755">Desarrollador web FullStack,</span>
				<span class="opacity-80"> de Santa Fe, Argentina.</span>
				Emocionado por crecer y aprender dentro de este universo del mundo 
				<span style="color:#A9F754">IT</span>.
				<span>
					Puedes <span style="color:#A9F754">comunicarte</span>
					conmigo a través de mis redes o descargar mi 
					<span style="color:#A9F754">
						CV.
					</span> :
				</span>

				<nav class="flex mt-4 flex-wrap">
					<SocialIcons
						href="https://www.linkedin.com/in/francojquijada/"
					>
						<LinkedIn
							class="size-5 md:size-6"
							alt="LinkedIn icon"
						/>
					</SocialIcons>
					<SocialIcons href="https://github.com/Franklynjsb">
						<GitHub class="size-5 md:size-6" alt="GitHub icon" />
					</SocialIcons>
					<SocialIcons href="mailto:francojq41@gmail.com">
						<Mail class="size-5 md:size-6" alt="Email icon" />
					</SocialIcons>
					<SocialIcons
						href="https://firebasestorage.googleapis.com/v0/b/portfolio2024-b19c5.appspot.com/o/Franco_Joel_Quijada-CurriculumVitae.pdf?alt=media&token=e38a82a7-f1e9-490a-95bc-6d641162633c"
						download="Franco_Joel_Quijada-CurriculumVitae.pdf"
					>
						<CVIcon
							class="size-5 md:size-6"
							alt="Curriculum Vitae icon"
						/>
					</SocialIcons>
					<!-- 
				<li>
					<a href="https://www.linkedin.com/in/francojquijada/">
						<LinkedIn />
					</a>
				</li> -->
				</nav>
			</h2>
			<!---
				<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px] text-pretty">
				<span style="color:#a8f755">Full Stack Web Developer.</span>
				<span class="opacity-80"> From Santa Fe, Argentina.</span>
				Excited to start growing and developing within the world.
				<span style="color:#A9F754">IT</span>.
				<span>
					You can <span style="color:#A9F754">reach out to me</span> 
					through my social networks or download my 
					<span style="color:#A9F754">
						CV.
					</span> :
				</span>

				<nav class="flex mt-4 flex-wrap">
					<SocialIcons
						href="https://www.linkedin.com/in/francojquijada/"
					>
						<LinkedIn
							class="size-5 md:size-6"
							alt="LinkedIn icon"
						/>
					</SocialIcons>
					<SocialIcons href="https://github.com/Franklynjsb">
						<GitHub class="size-5 md:size-6" alt="GitHub icon" />
					</SocialIcons>
					<SocialIcons href="mailto:francojq41@gmail.com">
						<Mail class="size-5 md:size-6" alt="Email icon" />
					</SocialIcons>
					<SocialIcons
						href="https://firebasestorage.googleapis.com/v0/b/fjqfrontend.appspot.com/o/imagen%2FFranco%20Joel%20Quijada%20-%20Junior%20FullStack-Developer.pdf?alt=media&token=c6134bd4-f4cb-4f2f-8e05-b209a2f22bd7"
						download="FrancoQuijada-FullStack.pdf"
					>
						<CVIcon
							class="size-5 md:size-6"
							alt="Curriculum Vitae icon"
						/>
					</SocialIcons> 
						<li>
							<a href="https://www.linkedin.com/in/francojquijada/">
								<LinkedIn />
							</a>
						</li>
					</nav>
				</h2>
			 -->
			


			<SectionContainer id="experiencia" class="mt-10">
				<h2
					class="text-3xl font-semibold mb-6 flex gap-x-3 items-center"
				>
					<UserIcon class="size-8" />
					Experiencia
				</h2>
				<Experiencia />
			</SectionContainer>

			<SectionContainer id="proyectos" class="mt-10">
				<h2
					class="text-3xl font-semibold mb-6 flex gap-x-3 items-center"
				>
					<Code class="size-8" />
					Proyectos
				</h2>
				<Projects />
			</SectionContainer>
			<SectionContainer id="sobremi">
				<h2
					class="text-3xl font-semibold mb-6 flex gap-x-3 items-center"
				>
					<UserIcon class="size-8" style="color:#A9F754" />
					Sobre mí
				</h2>
				<AboutMe />
			</SectionContainer>
		</SectionContainer>
	</main>
</Layout>
