<!-----
<section class="flex flex-col md:flex-row gap-10 justify-center items-center">
    <div
        class="[&>p]:mb-4 [&>p>strong]:text-[#A9F754] [&>p>strong] text-pretty order-2 md:order-1"
    >
        <p>
            ¡Hola! Soy <strong>Franco Joel Quijada</strong>, un apasionado
            desarrollador de 25 años de Santa Fe, Argentina. Mi viaje en el
            mundo de la programación comenzó cuando me enfrenté al desafío de
            mejorar la capacidad de algunos Bots de Discord para reproducir
            enlaces de YouTube.
        </p>
        <p>
            En mi búsqueda de soluciones, me formé y <strong>adquirí las habilidades</strong> 
            necesarias para alcanzar mi objetivo. A partir de ese momento,
            decidí quedarme en este emocionante universo, transformando mi
            pasión por la tecnología en la <strong>capacidad de crear herramientas</strong> que
            realmente marquen la diferencia.
        </p>
        <p>
            Como <strong>desarrollador FullStack</strong>, mi enfoque está en crear soluciones
            creativas y sobre todo útiles. Estoy particularmente interesado en
            los aspectos backend donde puedo probar mis habilidades para
            construir sistemas robustos y eficientes.
        </p>
        <p style="color:#A9F754">
            ¡Estoy emocionado por la posibilidad de trabajar juntos y seguir
            creando soluciones innovadoras!
        </p>
    </div>
    <img
        class="rounded-full size-48 order-1 md:order-2"
        src="https://firebasestorage.googleapis.com/v0/b/fjqfrontend.appspot.com/o/imagen%2Fperfil_1?alt=media&token=a4993591-c6b5-46ab-87db-a12a89421295"
        alt=""
    />
</section>
--- -->
<section class="flex flex-col md:flex-row gap-10 justify-center items-center">
    <div
        class="[&>p]:mb-4 [&>p>strong]:text-[#A9F754] [&>p>strong] text-pretty order-2 md:order-1"
    >
        <p>
            Hello! I am <strong>Franco Joel Quijada</strong>, a passionate
            25-year-old developer from Santa Fe, Argentina. My journey in the
            programming world began when I took on the challenge of enhancing
            the capabilities of some Discord bots to play YouTube links.
        </p>
        <p>
            In my quest for solutions, I trained and <strong>acquired the 
            skills</strong> necessary to reach my goal. From that point on, 
            I decided to stay in this thrilling universe, transforming my 
            passion for technology into the <strong>ability to create 
            tools</strong> that truly make a difference.
        </p>
        <p>
            As a <strong>FullStack developer</strong>, my focus is on creating
            creative and above all, useful solutions. I am particularly
            interested in backend aspects where I can test my skills in building
            robust and efficient systems.
        </p>
        <p style="color:#A9F754">
            I am excited about the possibility of working together and
            continuing to create innovative solutions!
        </p>
    </div>
    <img
        class="rounded-full size-48 order-1 md:order-2"
        src="https://firebasestorage.googleapis.com/v0/b/fjqfrontend.appspot.com/o/imagen%2Fperfil_1?alt=media&token=a4993591-c6b5-46ab-87db-a12a89421295"
        alt=""
    />
</section>
