---
import ExperienciaItems from "./ExperienciaItems.astro";

//Create a list of work experience
const EXPERIENCIA = [
    {
        date: "Mayo 2025 - Actualmente",
        title: "Ayudante de Algoritmos y Estructuras de Datos",
        description:
            "Colaboro durante el dictado de clases de práctica de la cátedra de Algoritmos y Estructuras de Datos en la Universidad Tecnológica Nacional.",
    },
    {
        date: "Agosto 2024 - Actualmente",
        title: "Becario Laboratorio Informático",
        description:
            "Colaboro en la reparación y mantenimiento de equipos informáticos, asistencia a alumnos y profesores en el uso de recursos tecnológicos, y supervisión el cuidado de elementos de laboratorio para garantizar su correcto funcionamiento y disponibilidad.",
    },
    {
        date: "Abril 2024 - Mayo 2024",
        title: "Simulación de NoCountry",
        description:
            "Habiendo quedado entre los 12 preseleccionados y dirigido el equipo BackEnd. Participé de la simulación realizada por NoCountry, durante la cual creamos una app de Telemedicina.",
        link: "https://github.com/Franklynjsb/c17-49-n-java",
    },
];
---

<!-- This maps the list from above to deploy it in the Layout -->
<ol>
    {
        EXPERIENCIA.map((experiencia) => (
            <li class=" ms-4">
                <ExperienciaItems {...experiencia} />
            </li>
        ))
    }
</ol>
