---
import ExperienciaItems from "./ExperienciaItems.astro";

//Create a list of work experience
const EXPERIENCIA = [
     {
        date: "Mayo 2025 - Actualmente",
        title: "Ayudante de Algoritmos y Estructuras de Datos",
        description: "Colaboro durante el dictado de clases de práctica de la cátedra de Algoritmos y Estructuras de Datos en la Universidad Tecnològica Nacional.",
    },
    {
        date: "Agosto 2024 - Actualmente",
        title: "Becario Laboratorio Informático",
        description: "Colaboré en la reparación y mantenimiento de equipos informáticos, asistí a alumnos y profesores en el uso de recursos tecnológicos, y supervisé el cuidado de elementos de laboratorio para garantizar su correcto funcionamiento y disponibilidad.",
    },
    {
        date: "Abril 2024 - Mayo 2024",
        title: "Simulación de NoCountry",
        description: "Habiendo quedado entre los 12 preseleccionado y dirigido el equipo BackEnd. Participé de la simulación realizada por NoCountry, durante la cual creamos una app de Telemedicina que actualmente continuamos perfeccionando.",
        link: "https://github.com/Franklynjsb/c17-49-n-java",
    }, 
    
];
---
<!-- This maps the list from above to deploy it in the Layout -->
<ol>
    {
        EXPERIENCIA.map(experiencia =>(
            <li class=" ms-4">
                <ExperienciaItems {...experiencia}/>
            </li>
        ))
    }
    
</ol>
