---
import ExperienciaItems from "./ExperienciaItems.astro";

//Create a list of work experience
const EXPERIENCIA = [
    {
        date: "Marzo 1022",
        title: "Trabajo",
        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim",
        link: "#",
    },
];
---
<!-- This maps the list from above to deploy it in the Layout -->
<ol class="relative border-s border-gray-200 dark:border-gray-700 text-pretty">
    {
        EXPERIENCIA.map(experiencia =>(
            <li class="mb-10 ms-4">
                <ExperienciaItems {...experiencia}/>
            </li>
        ))
    }
    
</ol>
