<header class="flex justify-center item-center py-5 w-full xl:w-[1120px] mx-auto">
    <!-- <img class="rounded-full w-12 h-12" src="https://i.pinimg.com/564x/6e/78/9b/6e789b05053a8734eeac7b079e8429d1.jpg" alt="Personal Photo"> -->
    <nav class="absolute bottom-0 left-[-20%] right-0 top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]">
        <nav class="absolute bottom-0 right-[-20%] top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"></nav>
    </nav>
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#sobremi">Sobre mí</a>
        <a href="#proyectos">Proyectos</a>
    </nav>
</header>

<style>
    header {
        position: fixed;
        width: 100%;
        background: #18082d;
        background: linear-gradient(0deg, rgba(24,8,45,0) 21%, rgba(24,8,45,1) 45%);
    }
    .menu-icon {
        display: none;
    }
    @media (hover: hover){
        nav:hover{
            opacity: 1;
        }
        a:hover {
            color:#a8f755;
        }
    }
</style>